.test {
	background: #cce6ff
}

 .test-padd {
    padding-left: 2%
 }

.yui3-skin-sam .yui3-hide {
	display: none;
}
.yui3-skin-sam .yui3-high {
    color: #3bbdfb;
    font-weight: bold;
}

.hide {
    display: none;
}

.right {
	float: right;
}